@import "../../resources/variables.scss";

header {
  background: $green;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
  padding: 1rem 6rem;

  .logo {
    font-size: 1.7em;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 0.1em;
  }

  ul {
    display: grid;
    grid-template-columns: auto auto;
    li {
      list-style: none;
      padding: 0 1.5em;
    }
    padding: 0;
  }
}

@media (max-width: 700px) {
  header {
    display: block;
    padding: 0;

    .logo {
      padding: 1rem 0;
    }

    ul {
      grid-template-columns: 1fr 1fr;
      li {
        padding: 0;
      }
    }
  }
}
