@import "../../resources/variables.scss";

nav {
  background: $green-viridian;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
  padding: 0 6rem;

  .logo {
    font-size: 1.7em;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  ul {
    display: grid;
    grid-template-columns: auto auto;
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      a {
        height: 3em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 1.5em;
        text-decoration: none;
        color: white;

        &:hover {
          color: $lime-key;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  nav {
    font-size: 1rem;
    display: block;
    padding: 0;

    .logo {
      padding-top: 0.2em;
    }

    ul {
      grid-template-columns: 1fr 1fr;
      li a {
        height: 2.5em;
        padding: 0;
      }
    }
  }
}
