@import "../../resources/variables.scss";

section.landing {
  background: $green-viridian;
  font-size: 2rem;
  padding: 3vw 15vw 6vw 15vw;

  display: grid;
  grid-template-columns: auto auto;
  grid-auto-rows: fit-content(1em);
  column-gap: 10vw;
  align-items: center;

  h1 {
    color: white;
    .italic {
      display: inline-block;
    }
    grid-row-start: 1;
    grid-row-end: 2;
  }

  a {
    grid-row-start: 2;
    grid-row-end: 3;
    text-decoration: none;
    color: $lime-key;
    font-weight: bold;
    border: 0.15em solid $lime-key;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    justify-self: start;

    &:hover {
      background-color: #40a062;
      color: white;
      border-color: #235835;
    }
  }

  .pitch-secondary {
    grid-row-start: 3;
    grid-row-end: 4;
    color: $lime-key;
    .italic {
      color: white;
      font-weight: bold;
    }
  }

  img {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    max-height: 70vh;
    justify-self: end;
  }
}

@media (max-width: 1700px) {
  section.landing {
    font-size: 1.8rem;
    padding: 3vw 10vw 6vw 10vw;
  }
}

@media (max-width: 1200px) {
  section.landing {
    font-size: 1.5rem;
    column-gap: 7vw;
  }
}

@media (max-width: 1000px) {
  section.landing {
    font-size: 1.2rem;

    img {
      max-height: 60vw;
    }
  }
}

@media (max-width: 700px) {
  section.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
