@import "../../resources/variables.scss";

section.form {
  background: $green-shamrock;
  font-size: 2rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 8vw;

  h2 {
    font-size: 1em;
    font-weight: 500;
  }

  form {
    margin-top: 8vw;

    .form-control {
      width: 40rem;

      .input-label {
        color: white;
        font-size: 1.5em;
      }

      .MuiInput-root {
        margin-top: 1.5em;
        font-size: 1.3em;
        color: $lime-key;

        &::before {
          border-bottom-color: white;
        }

        &::after {
          border-bottom-color: $lime-key;
        }
      }
    }
  }
}
