@import "../../resources/variables.scss";

section.form {
  background: $green-shamrock;
  font-size: 2rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 15vh 0;

  h2 {
    font-size: 1em;
    font-weight: 500;
  }

  form {
    margin-top: 10vh;

    button {
      color: $green-nyanza;
      display: block;
      margin-top: 5vh;
      font-size: 0.7em;
      border: 0.05em solid $green-nyanza;
      padding: 0.3em 1.5em;
      text-transform: capitalize;

      &:hover {
        background: $green-hunter;
      }
    }
  }

  .form-control {
    width: 40rem;

    .MuiInput-root {
      font-size: 1.3em;
      color: $lime-key;

      &::before {
        border-bottom-color: white;
      }

      &::after {
        border-bottom-color: $lime-key;
      }
    }

    .error-message {
      color: $yellow-crayola;
      font-size: 0.7em;
    }
  }

  .influencer-answer-container {
    .MuiInput-root {
      width: 100%;
    }
  }
}

@media (max-width: 900px) {
  section.form {
    font-size: 1.5rem;

    .form-control {
      width: 70vw;
    }
  }
}

@media (max-width: 500px) {
  section.form {
    padding: 15vh 1rem;

    font-size: 1rem;

    h2 {
      text-align: center;
      font-size: 1em;
    }

    form button {
      width: 100%;
      padding: 0.5em 0;
    }
  }
}
