@font-face {
  font-family: "Rosario";
  src: local("Rosario"), url(./resources/Rosario-Regular.ttf) format("truetype");
}

body {
  margin: 0;
  font-family: Rosario;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: default;

  * {
    box-sizing: border-box;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}
